.capture-card {
    width: 600px;
    margin: 10% auto;
    text-align: center;
}

.mat-card-title {
    font-size: 28px;
    text-align: center;
    width: 600px;
    margin-bottom: 30px;    
}

.capture-full-width td {
    width: 600px;
    text-align: center;
}